@charset "UTF-8";

@import "bourbon/bourbon";
@import 'neat/neat';

.documentation-content-right {
  margin-left: 350px;
  padding-top: 55px;

  @include media(new-breakpoint(max-width 740px)) {
    margin-left: 0;
    padding: 0 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    .bookmarker {
      width: 25px;
      content: '';
      position: absolute;
      left: -18px;
      height: 40px;
      display: inline-block;
      visibility: hidden;
      font-size: 14px;
      cursor: pointer;
      padding-top: 1px;
      &:hover {
        visibility: visible;
      }
    }

    &:hover {
      .bookmarker {
        visibility: visible;
      }
    }
  }
}

.documentation-content-left {
  float: left;
  width: 300px;
  border-right: 1px dashed silver;
  padding-bottom: 50px;

  @include media(new-breakpoint(max-width 740px)) {
    float: none;
    width: auto;
    text-align: center;
  }
}

.field-description {
  padding: 5px 0px;
  border-bottom: 1px dashed #D4D4D4;
}

.typo {
  color: gray;
  font-size: 14px;
  padding-bottom: 15px;

  hr {
    border: 0;
    border-top: 1px solid silver;
  }
}

.documentation-navigation {
  > a {
    display: block;
    border-bottom: 1px dashed silver;
    padding-top: 6px;
    color: #575757;
    padding-bottom: 3px;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 400;

    &.active {
      &:after {
        content: '«';
        padding-left: 5px;
      }
    }
  }
}

.documentation-navigation-sub {
  padding-left: 25px;
  @include media(new-breakpoint(max-width 740px)) {
    padding-left: 0;
  }

  font-size: 14px;
  font-weight: 400;

  > .item {
    line-height: 24px;
  }

  a.active {
    position: relative;
    left: -11px;
    color: gray;

    &:before {
      content: '»';
      padding-right: 5px;
    }
  }

  .desc {
    color: gray;
  }
}

table.table {
  width: 100%;
  td {
    padding: 2px;
    vertical-align: top;
    font-size: 14px;
  }

  th {
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px dashed gray;
  }
}

.table-left-row {
  width: 100%;
  th {
    font-weight: 600;
    font-size: 14px;
  }

  td {
    padding-left: 10px;
  }
}

.description {
  color: #a0a0a0;
}

h3, h4 {
  .sub {
    color: gray;
    font-size: smaller;
  }
}

div.field-option {
  padding: 5px 0;
  border-left: 5px solid #Ddd;
  margin: 20px 0;
  background-color: #fafafa;
  padding-left: 15px;

  > h4:first-child{
    margin: 0;
    margin-bottom: 5px;
  }
}

