{% include 'AppBundle:Layout:header.html.twig' %}

<div class="main-wrapper">
    <section class="content">
        <div class="default-content">
            <div class="wrapper">
                {% contents 1 %}
            </div>
        </div>
    </section>
</div>

{% include 'AppBundle:Layout:footer.html.twig' %}