{% include 'AppBundle:Layout:header.html.twig' %}

{{ loadAsset('@AppBundle/css/documentation.scss') }}
{{ loadAssetAtBottom('@AppBundle/js/doc.js') }}

<div class="main-wrapper">
    <section class="content">
        <div class="default-content">
            <div class="wrapper">

                <div class="documentation-content-left">
                    <h3><a href="/documentation">Documentation</a></h3>
                    Version: <a href="https://github.com/jarves/jarves">dev-master</a>
                    <div class="documentation-navigation">
                        {{ navigationLevel(2, 'AppBundle:Navigation:DocumentationSubNavigation.html.twig', {'pathInfoCache': true}) }}
                    </div>
                </div>
                <div class="documentation-content-right">
                    {{ breadcrumb() }}

                    <div>{% contents 1 %}</div>

                    <div class="typo">
                        <hr>
                        Found a typo? The website is based on Markdown, please feel free to send us a pull request! :)
                        <a href="https://github.com/jarves/jarves.io/tree/master/app/jarves/website/jarves.io">github.com/jarves/jarves.io/tree/master/app/jarves/website/jarves.io</a>
                    </div>
                </div>
                <div class="break"></div>
            </div>
        </div>
    </section>
</div>

{% include 'AppBundle:Layout:footer.html.twig' %}