{% include 'AppBundle:Layout:header.html.twig' %}

<div class="main-wrapper">
    <section class="content">
        <div class="home-banner">
            <div class="home-banner-bg-top"></div>
            <div class="wrapper home-banner-logo">
                <img class="home-banner-logo-bg" src="bundles/app/images/home-logo-bg.png" />
            </div>
            <div class="home-banner-page home-banner-page-1">
                <div class="wrapper">
                    <div class="home-banner-text">
                        <h1>NEXT GEN <strong>CMS</strong></h1>
                        <p>
                            Jarves is a next generation CMS<br />
                            based on Symfony and REST API using PHP 5.6+.
                        </p>
                        <br/>
                        <br/>
                        <ul>
                            <li>just a Symfony Bundle</li>
                            <li>RAD framework</li>
                            <li>extremely fast</li>
                            <li>completely based on a REST API</li>
                            <li>very detailed permission system</li>
                            <li>inline-editing as its best</li>
                            <li>tablet optimized</li>
                            <li>open source</li>
                        </ul>
                        <div class="home-banner-page-1-buttons">
                            <a href="#features">Learn more</a>
                            <a href="/download">Download</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-features">
            <div class="wrapper">

                <a id="features"></a>
                <h1>FEATURES AT A GLANCE</h1>

                <div class="home-features-container">
                    <div class="home-features-item">
                        <h3>Modern User Interface</h3>
                        Clear and modern interface with best in class user experience
                        in mind for you and your clients. Touch friendly compatibility
                        for desktops and tablets.
                    </div>
                    <div class="home-features-item">
                        <h3>Inline-Editing</h3>
                        Edit page contents live on your site with all styles and scripts
                        applied. No hassle having multiple tabs.
                    </div>
                    <div class="home-features-item">
                        <h3>Like Native App</h3>
                        Due to its AJAX technology and JSON REST-API
                        it loads only the data it really needs and responses
                        therefore pretty much instant on clicks at the user interface.
                    </div>



                    <div class="home-features-item">
                        <h3>Drag’n’Drop</h3>
                        Drag and drop content and files directly from desktop into Jarves.
                        Familiar and essential productivity boost.
                    </div>
                    <div class="home-features-item">
                        <h3>Users & Permissions</h3>
                        Very detailed permission control offering comprehensive rules for any
                        user or group accessing any object or REST point.
                    </div>
                    <div class="home-features-item">
                        <h3>Dashboard</h3>
                        Vital dashboard delivers a quick overview over most important website data.
                    </div>



                    <div class="home-features-item">
                        <h3>File Management</h3>
                        Integrated file, pages and media management offers rich feature set including
                        renaming, cropping, resizing and rotating content. All one click away.
                    </div>
                    <div class="home-features-item">
                        <h3>File Abstraction Layer</h3>
                        Support for external file systems like Dropbox, AWS S3 and more to come.
                        Bundle extensibility allows implementing any further CDN or file provider.
                    </div>
                    <div class="home-features-item">
                        <h3>Pages and Blogs</h3>
                        Organizing nested pages with navigations and blogs in place. Supporting custom
                        URLs, timed content publishing and rich editing features like markdown.
                    </div>



                    <div class="home-features-item">
                        <h3>Multi-Language</h3>
                        Internationalization out of the box. Translate directly in the admin area or
                        external po-Editor like poedit.net.
                    </div>
                    <div class="home-features-item">
                        <h3>Extending</h3>
                        Flexible object types - no need to misuse and hack on existing fields.
                        Add new fields with integrated bundle editor. Almost everything is extendible:
                        from dashboard widgets, field/content types and REST entry points to plugins and more.

                    </div>
                    <div class="home-features-item">
                        <h3>Symfony Bundles</h3>
                        Jarves is completely based on Symfony as a Bundle and is extend with further bundles.
                        Creating new fields, customized objects or new managing causes Jarves to automatically
                        create a redistributable Symfony Bundle which can be directly commited into VCS.

                    </div>



                    <div class="home-features-item">
                        <h3>Template Engines</h3>
                        Jarves supports multiple template engines. Twig is preinstalled and used in our system templates.
                        Install own template solutions even down to good old plain PHP files.

                    </div>
                    <div class="home-features-item">
                        <h3>MySQL, PostgreSQL and SQLite</h3>
                        Jarves is completely based on a high-speed ORM supporting common RDBMS.
                    </div>

                    <div class="home-features-item">
                        <h3>Front End High-Speed</h3>
                        Integrated cache support for APC, Memcache, Redis etc provides a high-speed
                        rendering engine for almost any front end content.
                    </div>



                    <div class="home-features-item">
                        <h3>Distributed Authentication and Sessions</h3>
                        Configure your session and authentification mechanism to custom storage backends
                        or use Redis, Memcache and friends.
                    </div>
                    <div class="home-features-item">
                        <h3>High-Scalability</h3>
                        With support for distributed caching and master/slave database connections
                        Jarves offers high scalability out of the box.
                    </div>
                    <div class="home-features-item">
                        <h3>REST-API</h3>
                        Integrate Jarves into existing applications using our full featured JSON REST-API.
                        The REST Interface allows to modify and query all information in the system through
                        a normalized and secure interface.
                    </div>



                    <div class="home-features-item">
                        <h3>Asset compiler/minifier</h3>
                        Integrated scss/less support and js/css minifier stops suffering from external building routines.
                        Jarves manages all that stuff automatically.
                    </div>
                    <div class="home-features-item">
                        <h3>Versioning</h3>
                        No more trouble with editing mistakes. All content is versioned and offers full editing
                        history - one click away. - In planing
                    </div>
                    <div class="home-features-item">
                        <h3>And More Features</h3>
                        There's more features and details coming. Follow us to stay updated.
                    </div>



                </div>

                <div class="break"></div>
            </div>
        </div>
        <div class="home-more">
            <div class="wrapper wrapper1">
                <img class="home-more-logo-bg" src="bundles/app/images/home-more-logo-bg.png" />
                <h1>Jarves - The Application Framework</h1>
                <p class="sub">Rapid Application Development through our integrated framework</p>
                <div class="home-more-left">
                    <p>
                        The classical administration interface consists always of the same pattern. A listing view,
                        edit and add view as well as some way of deleting data.
                    </p>
                    <p>
                        We provide you common classes, both for front end (for AnguarJS, es6 classes and useful directives) and backend (for REST and your website, PHP classes), to create those views in
                        a snap. Not only that, we’re also providing you ways to define quick and easy ORM models, relations and constraints.
                        Fighting with PHP, defining huge arrays with endless nesting and unknown index keys
                        for configuration purposes is the past. If you don’t want to write PHP classes or XML configuration
                        with your bare hands, no problem. We’re providing a very cool bundle editor for all those kinds
                        of things: orm objects, rest entry points, CRUD views, frontend routes, translations,
                        composer and much more!
                    </p>
                    <p>
                        You’re immediately after the installation efficient and more productive with building
                        administration interfaces than ever before. This gives you more time to build the
                        interesting and beautiful things.
                    </p>
                </div>
                <div class="home-more-architecture">
                    <div class="a-box line-bottom a-db1">MySQL</div>
                    <div class="a-box a-db2 line-bottom">PostgreSQL</div>
                    <div class="a-box line-bottom a-db3">SQLite</div>
                    <div class="a-box a-orm line-bottom">ORM</div>
                    <div class="a-box a-symfony line-bottom">Symfony</div>
                    <div class="a-box a-rest line-bottom">REST-API</div>
                    <div class="a-box a-admin">Administration</div>
                </div>
                <div class="home-more-right">
                    <p>Building websites these days means building REST-APIs, using ORMs, having a modern,
                        fully responsive and tablet optimized interface for your clients. Jarves provides all those things and much more.
                        Everything is available through our JSON REST-API, even front end data, at wish pre-rendered, for
                        your single page website. You can use whatever ORM you’d like to use - pre installed is Propel ORM
                        due its high speed capabilities.</p>

                    <p>Having Jarves means having freedom over your website. We do not force you to use a
                        specific template engine, a front end library or a particular doctype - use whatever you like.
                        Twig, Smarty, plain PHP or other. We do not inject somewhere HTML snippets behind your back.
                        You can start with a completely blank page if you wish or use our several demo themes to get
                        fast a first website working.</p>

                    <p>You want to customize the core? Do it the Symfony way. Extending Jarves means extending Symfony. We're
                        using regular Symfony Bundles to extend the system - even Jarves itself is just a bundle. This means you don't
                        have to learn a new unproven architecture and you are able to overwrite all templates and controllers
                        as you are used to with Symfony.</p>
                </div>
                <div class="break"></div>
            </div>

            <div class="owl-carousel owl-carousel-white">
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-login.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-login.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-frontend-edit.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-frontend-edit.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-frontend-edit-content-elements.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-frontend-edit-content-elements.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-files-context-image.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-files-context-image.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-files-context-image2.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-files-context-image2.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-list.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-list.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-users.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-users.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-nodes.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-nodes.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-list.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-list.png" /></a>
                </div>
                <div><a class="swipebox" rel="gallery-1" href="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-extensioneditor.png">
                        <img src="https://raw.githubusercontent.com/jarves/jarves/master/Resources/doc/images/admin-extensioneditor.png" /></a>
                </div>
            </div>

            <div class="wrapper wrapper2">
                <div class="home-more-register">
                    <a id="not-ready"></a>
                    <h1>Jarves is not released, yet. But open-source!</h1>
                    <p class="sub">Jarves is available in Github at <a href="https://github.com/jarves/jarves">github.com/jarves/jarves</a>,
                        please see the "Status" section for more information about the current status of this project.</p>
                    <!--<form method="post" action="/register.php">
                        <input type="text" name="email" class="text" />
                        <input type="submit" class="submit" value="Send" />
            </form>-->
                </div>
            </div>
        </div>
    </section>
</div>

{% include 'AppBundle:Layout:footer.html.twig' %}